<!DOCTYPE html>
<html>
<head>
  <title>Unobtrusive JS in Rails 3</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="flash">
  <% flash.each do |key, value| %>
    <div title="<%= key.to_s.humanize -%>" class="<%= key -%>">
      <p><%= value -%></p>
    </div>
  <% end %>
</div>
<div id="main">
  <%= yield %>
</div>

</body>
</html>
